.bg2 {
    min-height: 100vh !important;
    background-image: url("../../../img/bg2.jpg");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }